<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Car Rental - Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
    <style>
         .formContainer{
            margin:5px 35%;
            min-width: 50px; 
        }
        .btnContainer{
            margin:5px 45%;
        }
        .navCenter{
        	margin:auto 35%;
        }
        .mainContainer{
        	margin:6% auto;
        }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<div class="container">
			<a class="navbar-brand" href="#" th:href="@{/}">CarPeSwaar</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav navCenter">
					
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/registration}">Register</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}">Login</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	<main class="container mainContainer">
	<h2 class="btnContainer">Register</h2>
	<form th:action="@{/registration}" method="POST" th:object="${user}" class="my-4">
	
			<!-- error message -->
			<div th:if="${param.error}" class="formContainer">
				<div 
					class="alert alert-danger"
					style="text-align: center !important; display: block;">
					Something went wrong! Please try again.
				</div>
			</div>

			<div class="formContainer">
				<label for="firstName">First Name</label> 
				<input
					type="text" 
					class="form-control" 
					id="firstName"
					aria-describedby="firstnameHelp" 
					th:field="*{firstName}"
					placeholder="Mohd"
					required> 
			</div>
			
			<div class="formContainer">
				<label for="lastName">Last Name</label> 
				<input
					type="text" 
					class="form-control" 
					id="lastName"
					aria-describedby="lastnameHelp" 
					th:field="*{lastName}"
					placeholder="Ali"
					required> 
			</div>
	
			<div class="formContainer">
				<label for="email">Email Address</label> 
				<input
					type="email" 
					class="form-control" 
					id="email"
					aria-describedby="usernameHelp" 
					th:field="*{email}"
					placeholder="mohd@ali.com"
					required> 
			</div>
			
			<div class="formContainer">
				<label for="upass">Password</label> 
				<input
					type="password" 
					class="form-control" 
					id="upass"
					placeholder="Password"
					th:field="*{password}"
					required>
			</div>
			
			<button type="SUBMIT" class="btn btn-secondary btnContainer">Register</button>
		</form>
		
		<div class="formContainer">
			<span>Already registered? 
				<a href="/" th:href="@{/login}">Log In here</a>
			</span>
		</div>
		
	</main>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
</body>
</html>